<!DOCTYPE html><!-- Button to open the modal login form -->
<link rel="stylesheet" type="text/css" href="portal.css">
<html>
  
<body>
<h1 align='center'>Welcome Admins!</h1>

<p align='center'>Admin Portal.</p>

  <table id="myTable"style="width:30%" align='center'>
    <tr>
      <th>List of Users</th>
      <th>Status</th>
      <th>Revoke Access</th>
      <th>Grant Access</th>
    </tr>



    <script>
    var count = 0;
    var myarray = new Array();
    </script>

    <!--<button id="verify">Verify User</button> </td>
    <button id="void">Void User</button> </td-->

    {% for user in users %}

    <tr>
      <td>{{user.Username}}</td>

      <td id = "status">{{user.Status}}</td>

      <td> <button onclick="veruser()" id="verify">Verify User</button> </td> </td>

      <td> <button onclick="voiduser()" id="void">Void User</button> </td> </td>
      
    </tr>



    <script>
    myarray[count]=count;
    count++;
    console.log(count);
    console.log(myarray);
    console.log()
    //var button1[count] = document.getElementById("verify");
    //button1[count].id = "verify"+count;

    //var button2[count] = document.getElementById("void");
    //button2[count].id = "void"+count;
    </script>
    {% endfor %}
  </table>

  <script>
    
    function veruser(){
      var table = document.getElementById("myTable");
      //table.rows[count][1].innerHTML = "Verified"
      document.getElementById("status").innerHTML = "Verified"
    }
    
    function voiduser(){
      var table = document.getElementById("myTable");
      //table.rows[count][1].innerHTML = "Void"
      document.getElementById("status").innerHTML = "Void!"
    }
    </script>
    
  
</body>



</html>
