<!DOCTYPE html><!-- Button to open the modal login form -->
<link rel="stylesheet" type="text/css" href="portal.css">
<html>
  
<body>
<h1 align='center'>Welcome Admins!</h1>

<p align='center'>Admin Portal.</p>

  <table id="myTable"style="width:30%" align='center'>
    <tr>
      <th>List of Users</th>
      <th>Status</th>
      <th>Revoke Access</th>
      <th>Grant Access</th>
    </tr>



    <script>
    var count = 0;
    //var array;
    </script>
    {% for user in users %}

    <tr>
      <td>{{user.Username}}</td>
      <td Id = "status".user>{{user.Status}}</td>
      <td> <button Id="button1">Confirm User</button> </td>
      <td> <button Id="button2">Void User</button> </td>
      
    </tr>
    <script>
    //array[count ++];
    count++;
    console.log(count);
    console.log("COMEOB");
    </script>
    {% endfor %}

  </table>
</body>



</html>
